/*div principal que segura todo mundo e serve como body*/
.background{
  background-image: url(./images/valorantBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*título AGENTES acima dos agentes*/
.background h1{
  color: white;
  letter-spacing: 0.5rem;
  border-bottom: 2px solid white;
}

/*corpo da navbar*/
.background > .navContainer{
  background-color: #1f2427;
  position: sticky;
  display: flex;
  width: 100vw;
  height: 5vh;
  top: 0px;
  align-items: center;
  justify-content: space-around;
}

/*logo da riot*/
.background .navContainer .riotLogo{
  width: 100px;
  height: 100px;
  background-image: url(./images/RiotIconePequeno.png);
  filter:invert(1);
}

/*logo do valorant*/
.background .navContainer .valorantLogo{
  width: 100px;
  height: 100%;
  background-image: url(./images/ValorantLogoPequeno.png);
}

/*input text de pesquisa*/
 .background > .navContainer > input{
  border: none;
  outline: none;
  width: 30%;
  height: 100%;
 }

 /*corpo que segura o container que segura os cards de cada agente*/
 .background .agentsList{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
 }

 /*container que segura os cards de cada agente*/
 .background .agentsList .agentsContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  align-items: center;
  justify-content: center;
  justify-items: center;
 }

  /*corpo do card de cada agente*/
 .background .agentsList .agentsContainer .agentCard{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 20%;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  margin: 1%;
  transition: 0.5s;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
 }

  /*nome de cada agente*/
 .background .agentsList .agentsContainer .agentCard h2{
  background-color: #e04652;
  color: white;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  transition: 0.5s;
 }


 .background .agentsList .agentsContainer .agentCard:hover > h2{
  letter-spacing: 0.5rem;
}



 /*hover que faz cada elemento dentro do card aumentar de tamanho, ganhar cor e ter uma sombra*/
.background .agentsList .agentsContainer .agentCard:hover{
  transform: scale(1.05);
  filter: grayscale(0);
  box-shadow: 4px 8px 22px rgba(255, 0, 0, 0.7);
  cursor: pointer;
}

 /*a foto do agente (preto e branca)*/
.background .agentsList .agentsContainer .agentCard .agentIcon{
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  filter: grayscale(1);

}

 /*quando passar o mouse no card, a foto ganha as cores normais*/
.background .agentsList .agentsContainer .agentCard:hover > .agentIcon{
  filter: grayscale(0);
}

 /*container que segura o nome e ícone da classe do agente*/
.background .agentsList .agentsContainer .agentCard .agentRole{
  display: flex;
  gap: 5%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color:  #212121;;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  transition: 0.5s;
}

 /*hover que faz o nome da classe ficar com espaçamento maior*/
.background .agentsList .agentsContainer .agentCard:hover > .agentRole{
  letter-spacing: 0.5rem;
}
 /*ícone da classe*/
.background .agentsList .agentsContainer .agentCard .agentRole img{
  width: 15px;
  height: 15px;
}


 /*background preto que fica atrás do popup e impede o usuário de clicar em outro agente enquanto o atual está aberto*/
.background .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

}

 /*container que segura os itens do popup*/
.background .popupContent {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  background-image: url(./images/backgroundCardPreto.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding:20px;
  border-radius: 8px;
  position: relative;
  align-items: center;
  color: white;
  box-shadow: 4px 8px 22px rgba(255, 0, 0, 0.7);
}

 /* header do popup que segura nome, classe e botção de fechar */
.background .popupContent .popupHeader{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  height: 5%;
}

 /*container que segura o nome e classe do agente*/
.background .popupContent .popupHeader .agentTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}

 /*ícone da classe do popup*/
.background .popupContent .popupHeader .agentTitle img{
   width: 30px;
   height: 30px;
}

 /*nome e classe do popup*/
.background .popupContent .popupHeader h2{
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-bottom: 2px solid white;
  position: relative;
  z-index: 10;
}

 /*botão de fechar*/
.background .popupContent .popupHeader button {
  background: #e04652;
  border: none;
  border-radius: 50%;
  padding: 7px 10px;
  cursor: pointer;
}

 /*itens principais do popup*/
.background .popupContent .popupMain{
  width: 100%;
  height: 95%;
  display: flex;
}

 /*div que segura o full portrait e background do agente*/
.background .popupContent .popupMain .popupPortrait{
  height: 100%;
  width: 30%;
  position: relative;

}

 /*a render/portrait do agente*/
.background .popupContent .popupMain .popupPortrait .agentFullPortrait{
  position: absolute;
  height: 110%;
  transform: rotateY(180deg);
  margin-left: -65%;
  margin-top: -20%;
  z-index: 3;
}

 /*o background q fica atrás da render completa*/
.background .popupContent .popupMain .popupPortrait .agentFullBackground{
position: absolute;
height: 100%;
margin-left: -15%;
z-index: 2;
}

 /*container que a descrição e habilidades do agente*/
.background .popupContent .popupMain .agentDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 70%;
  position: relative;
  z-index: 5;
}

 /*container que segura a descrição e o título da descrição*/
.background .popupContent .popupMain .agentDetails .descriptionContainer{
  width: 95%;
  height: 25%;
  margin-left: 5%;
  margin-top: 1%;
  background-color: #e0465394;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-left: 2%;
  gap: 1%;
  position: relative;
  z-index: 4;
}
 /*título da descrição*/
.background .popupContent .popupMain .agentDetails .descriptionContainer h3{
  letter-spacing: 0.2rem;
}

 /*a descrição em si*/
.background .popupContent .popupMain .agentDetails .descriptionContainer p{
  font-weight: 600;
}

 /*container que os ícones, descrições, subtítulos das habilidades e o título abilidades */
.background .popupContent .popupMain .agentDetails .abilitiesContainer{
  background-color: #e0465394;
  width: 95%;
  height: 50%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
 /*título habilidades*/
.background .popupContent .popupMain .agentDetails .abilitiesContainer h3{
  letter-spacing: 0.2rem;
}

 /*container dos ícones das habilidades*/
.background .popupContent .popupMain .agentDetails .abilitiesContainer .abilitiesIcons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
  height: 30%;
}

 /*cada ícone de cada habilidade*/
.background .popupContent .popupMain .agentDetails .abilitiesContainer .abilitiesIcons img{
  width: 15%;
  height: 100%;
  transition: 0.5s;
}

 /*efeito de hover em cada ícone*/
.background .popupContent .popupMain .agentDetails .abilitiesContainer .abilitiesIcons img:hover{
  background-color:rgba(0, 0, 0, 0.5);
}

 /*container do nome/título de cada habilidade e sua descrição*/
.background .popupContent .popupMain .agentDetails .abilitiesContainer .abilitiesDescription{
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

 /*nome/título da habilidade*/
.background .popupContent .popupMain .agentDetails .abilitiesContainer .abilitiesDescription > h4{
  border-bottom: solid 1px white;
}
 /*descrição da habilidade*/
.background .popupContent .popupMain .agentDetails .abilitiesContainer .abilitiesDescription > p{
  font-weight: 600;
}